<section>
  <form class="py-10" [formGroup]="weatherForm">
    <label
      for="default-search"
      class="text-sm font-medium text-gray-900 sr-only dark:text-gray-300"
      >Search</label
    >
    <div class="relative w-1/2 mx-auto">
      <div
        class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
      >
        <svg
          class="w-5 h-5 text-gray-500 dark:text-gray-400"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </div>
      <input
        formControlName="cityField"
        type="search"
        id="default-search"
        class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Enter city"
        required
      />
      <button
        (click)="onFormSubmit(this.weatherForm.value.cityField)"
        type="submit"
        class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Search
      </button>
    </div>
  </form>
  <div class="container py-20">
    <div class="flex items-center justify-center">
      <div class="bg-white shadow-2xl p-6 rounded-2xl border-2 border-gray-50">
        <div class="flex flex-col">
          <div>
            <h2 class="font-bold text-gray-600 text-center">
              {{ weatherData.name }}
            </h2>
          </div>
          <div class="my-6">
            <div class="flex flex-row space-x-4 items-center">
              <div id="icon">
                <span>
                  <svg
                    class="w-20 h-20 fill-stroke text-yellow-400"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
                    ></path>
                  </svg>
                </span>
              </div>
              <div id="temp">
                <h4 class="text-4xl">{{ weatherData.main.temp }}&deg;C</h4>
                <p class="text-xs text-gray-500">
                  Feels like {{ weatherData.main.feels_like }}&deg;C
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
