<div>
  <section class="bg-white">
    <div class="max-w-5xl px-6 py-16 mx-auto">
      <div class="items-center md:flex md:space-x-6">
        <div class="md:w-1/2">
          <h2 class="text-3xl font-semibold text-gray-800">
            We take care of your travel needs<br />
            so you travel carefree
          </h2>
          <h4 class="max-w-md mt-4 text-gray-600">
            Our online travel company is the perfect choice for anyone looking to plan a memorable vacation. With a plethora of destinations, accommodation options, and activities to choose from, our website caters to all kinds of travelers. Our experienced team of experts is dedicated to providing personalized support and assistance throughout the planning process and ensures that every trip is seamless and hassle-free. We also offer competitive pricing, exclusive deals, and discounts to make travel affordable for everyone. Choose our online travel company to plan your next adventure and make unforgettable memories that will last a lifetime.
          </h4>
        </div>

        <div class="mt-8 md:mt-0 md:w-1/2">
          <div class="flex items-center justify-center">
            <div class="max-w-md">
              <img
                class="object-cover object-center w-full rounded-md shadow"
                style="height: 500px"
                src="https://images.adsttc.com/media/images/5e4c/1025/6ee6/7e0b/9d00/0877/large_jpg/feature_-_Main_hall_1.jpg?1582043123"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="max-w-5xl px-6 py-16 mx-auto">
      <div
        class="px-8 py-12 bg-gray-800 rounded-md md:px-20 md:flex md:items-center md:justify-between"
      >
        <div>
          <h3 class="text-2xl font-semibold text-white">
            Explore the wide range of restaurants
          </h3>
          <p class="max-w-md mt-4 text-gray-400">
            Experience More, Spend Less: Your One-Stop Shop to eat great!
          </p>
        </div>

        <a
          class="block px-8 py-2 mt-6 text-lg font-medium text-center text-white transition-colors duration-300 transform bg-indigo-600 rounded md:mt-0 hover:bg-indigo-500"
          routerLink="../list/restaurants"
          >Explore restaurants</a
        >
      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="max-w-5xl px-6 py-16 mx-auto">
      <div class="md:flex md:justify-between">
        <h2 class="text-3xl font-semibold text-gray-800">
          Check out what our users have to say about us
        </h2>
        
      </div>

      <div class="grid gap-8 mt-10 md:grid-cols-2 lg:grid-cols-3">
        <div class="px-6 py-8 overflow-hidden bg-white rounded-md shadow-md">
          <h4 class="max-w-md mt-4 text-gray-400">
            "Booking my vacation with this online travel company was the best decision I ever made. The whole process was so easy and stress-free; I was able to customize my itinerary exactly how I wanted it and received amazing support throughout the planning phase. When it came time for my trip, everything was perfectly arranged, making for an amazing and unforgettable experience! I would recommend this company to anyone!"
            <br>
            <h4 class="text-right">- Sneha</h4>
          </h4>
        </div>
        <div class="px-6 py-8 overflow-hidden bg-white rounded-md shadow-md">
          <h4 class="max-w-md mt-4 text-gray-400">
            "I never thought booking a trip could be so easy and enjoyable! This online travel company truly exceeded my expectations. From finding the cheapest flight options to helping me pick the perfect hotel for my family, their team was incredibly attentive and helpful through every step of the way. Thanks to them, we had an amazing vacation without any worries. We are already thinking of booking our next trip with them!"
            <br>
            <h4 class="text-right">- Yuvraj</h4>
          </h4>
        </div>
        <div class="px-6 py-8 overflow-hidden bg-white rounded-md shadow-md">
          <h4 class="max-w-md mt-4 text-gray-400">
            "I'm extremely impressed with the quality of service delivered by this online travel company. The entire process was seamless; the booking process was easy, the suggested itinerary was spot-on, and the support team was always available and responsive when I needed them. They worked tirelessly to ensure my trip was perfect and it truly was. I would definitely book with them again and recommend them to my family and friends."
            <br>
            <h4 class="text-right">- Prerna</h4>
          </h4>
        </div>

      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="max-w-5xl px-6 py-16 mx-auto">
      <div
        class="px-8 py-12 bg-gray-800 rounded-md md:px-20 md:flex md:items-center md:justify-between"
      >
        <div>
          <h3 class="text-2xl font-semibold text-white">
            Explore the wide range of hotels
          </h3>
          <p class="max-w-md mt-4 text-gray-400">
            Choose comfort and luxury at amazing prices!
          </p>
        </div>

        <a
          class="block px-8 py-2 mt-6 text-lg font-medium text-center text-white transition-colors duration-300 transform bg-indigo-600 rounded md:mt-0 hover:bg-indigo-500"
          routerLink="../list/hotels"
          >Explore hotels</a
        >
      </div>
    </div>
  </section>


  